<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historico</title>

    <link rel="stylesheet" href="../static/main.css">

    <script src="../static/script/objetos.js"></script> 
    <script src="../static/script/commns.js" defer></script> 
    <script src="../static/script/main.js" defer></script>
    <script src="../static/script/debug.js" defer></script> 
    

    
    <script src="../static/script/historico.js" defer></script>
</head>
<body id="not">

    <main id="Snotificacoes">

        <header class="header">
            <h1 id="titulo-principal">Histórico de notificações</h1>
            <select name="nomePosteSelect" id="nomePoste" onchange="handleChangePoste(this.value)">
                <option value="Poste inválido">Poste inválido</option>
            </select>
            <div onclick="togglePopUp(true)">
                <p>Criar notificação</p>
                <button type="button" class="square-button">+</button>
            </div>
        </header>
        <hr>

        <section id="sec-notificacoes">

        </section>

        <div id="pop-up"> 
            <h2 onclick="togglePopUp(false)">x</h2>
            <h1>Criando notificação</h1>
            <textarea name="descricao" id="descricao" cols="30" rows="3" placeholder="Descrição da notificação"></textarea>
            <h3>Criando notificação no {id-poste}</h3>
            <button onclick="criarNotificacao()">Criar</button>
        </div>

        
    </main>

    <!-- Header principal -->
    <aside class="main-header">
        <img src="../static/assets/icones/pessoa.svg" alt="Seu perfil">
        <!-- <h1>Histórico</h1> -->
        <a href="notificacoes">Notificações</a>
        <a href="mapa">Mapa</a>
        <a href="./">Sair</a>

        </select>
    </aside>

     <!-- Arrumar -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-info">
            <a href="https://instagram.com/seu_usuario" target="_blank">
                <img
                src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"
                alt="Instagram"
                class="instagram-icon"
                />
            </a>
            <p>Contato: (11) 91234-5678</p>
            
            </div>

            <div class="footer-center">
            <p>IFC Campus Concórdia</p>
            </div>

            <div class="footer-copy">
            <p>&copy; Todos os direitos reservados | 2025 </p>
            </div>
        </div>
    </footer>
    
</body>
</html>