<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de funcionário</title>
  <link rel="stylesheet" href="../static/main.css">

</head>
<body id="login">
  <img src="../static/assets/icones/logo.png" alt="Logo" class="logo">
  <main id="Slogin">
    <div id="form-login">
      <h2>Cadastro de funcionário</h2>
      
      <form>
        <!-- <a href="#" class="esqueceu">ESQUECEU A SENHA?</a> -> Teria falar com sua empresa chefe -->
        <input type="nome" placeholder="Nome do funcionário" class="input-texts" required>
        <input type="email" placeholder="E-mail do funcionário" class="input-texts" required>
        <input type="password" placeholder="Senha" class="input-texts" required>
        <!-- Falta coisas aqui -->

        <!-- -->
        <button type="submit" class="bigger-button">Cadastrar</button>
      </form>

      <!-- <p class="text-centered">ou</p> -->

      <!-- <p class="text-centered">Não tem uma conta? <a href="#">Crie uma!</a></p> -->
    </div>
  </main>

   <!-- Arrumar -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-info">
            <a href="https://instagram.com/seu_usuario" target="_blank">
                <img
                src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"
                alt="Instagram"
                class="instagram-icon"
                />
            </a>
            <p>Contato: (11) 91234-5678</p>
            
            </div>

            <div class="footer-center">
            <p>IFC Campus Concórdia</p>
            </div>

            <div class="footer-copy">
            <p>&copy; Todos os direitos reservados | 2025 </p>
            </div>
        </div>
    </footer>
</body>
</html>