<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro Empresa</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body id="login">
  <img src="../assets/icones/logo.png" alt="Logo" class="logo">
  <main id="Slogin">
    <div id="form-login">
      <h2>Cadastro empresarial</h2>
      
      <form>
        <!-- <a href="#" class="esqueceu">ESQUECEU A SENHA?</a> -> Teria falar com sua empresa chefe -->
        <input type="nome" placeholder="Nome da empresa" class="input-texts" name="e_nome" required>
        <input type="email" placeholder="E-mail da empresa" class="input-texts" name="e_email" required>
        <!-- <input type="telefone" placeholder="Telefone" class="input-texts" required> -->
        <input type="CNPJ" placeholder="CNPJ" class="input-texts" name="cnpj" required>
        <input type="password" placeholder="Senha" class="input-texts" name="e_senha" required>
        <input type="password" placeholder="Confirmar senha" class="input-texts" required>

      <!-- ISSO SIM! MAS FALTA COISA, ISSO PODE COMPLICAR COM NÓS KSKSKSKKS -->
        <!-- <a href="#" class="esqueceu">EU ACEITO OS TERMOS E CONDIÇÕES</a> -->

        <!-- Para o login das empresas -->
        

        <!-- Para o login dos funcionários -->


        <!-- -->
        <button type="submit" class="bigger-button">Cadastrar</button>
      </form>

      <!-- <p class="text-centered">ou</p> -->

      <!-- <p class="text-centered">Não tem uma conta? <a href="#">Crie uma!</a></p> -->
    </div>
  </main>
</body>
</html>