<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VISUX</title>
    <link rel="stylesheet" href="../static/main.css">
    </head>
<body id="index">
    <header>
       <nav>
        <a href=""><li><img src="../static/assets/icones/logo.png" alt="" id="logo1"></li></a>
        <a href="registro/empresas"> Cadastro empresarial </a>
        <a href="login"> Login </a>
       </nav> 
    </header>
    
    <div class="banner">
        <img src="../static/assets/icones/banner.png" alt="">
    </div>
   
    <section class="who">
        <div class="centro">
            <h1>QUEM SOMOS?</h1>
            <p>SOMOS UM GRUPO SEM OBJETIVO FINANCEIRO, QUE BUSCA ENTREGAR AOS NOSSOS CLIENTES MAIS FACILIDADE DE MONITORAR POSTES E REDES DE ENERGIA FACILITANDO OS SEUS SERVIÇOS, UTILIZANDO DE MAPAS, DADOS ATUALIZADOS E HISTÓRICOS.</p>
        </div>
    </section>

    <section class="premium">
        <div class="premium-content">
            <img src="../static/assets/icones/image1.png" alt="" class="premium-image">
            <div class="premium-text">
                <h2>OFERECEMOS O <span class="highlight">VISUX</span></h2>
                <p>PELO VISUX, OFERECEMOS AOS USÚARIOS UM MAPA, HISTÓRICO E NOTIFICAÇÕES, DEIXANDO VOCÊ SEMPRE ATUALIZADO, FACILITANDO O SEU SERVIÇO E MONITORAMENTO.</p>
                <a href="registro/empresas"><div class="premium-buttons">
                    <button class="btn-outline1">REGISTRAR-SE</button>
                </div></a>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="about-content">
            <div class="about-text">
                <h2>ESTAMOS <span class="highlight">COM VOCÊ</span></h2>
                <p>SOMOS UM GRUPO 7 PESSOAS, TRABALHANDO NESTE PROJETO COM O IFC - CAMPUS CONCÓRDIA, GARANTINDO SUPORTE SEMPRE QUE NECESSÁRIO.</p>  
            </div>
            <img src="../static/assets/icones/image2.png" alt="" class="about-image">
        </div>
    </section>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-info">
            <a href="https://instagram.com/seu_usuario" target="_blank">
                <img
                src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"
                alt="Instagram"
                class="instagram-icon"
                />
            </a>
            <p>Contato: (11) 91234-5678</p>
            
            </div>

            <div class="footer-center">
            <p>IFC Campus Concórdia</p>
            </div>

            <div class="footer-copy">
            <p>&copy; Todos os direitos reservados | 2025 </p>
            </div>
        </div>
    </footer>
</body>
</html>
